<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css" class="rel">
    <link href="https://fonts.googleapis.com/css?family=League+Script|Raleway:600" rel="stylesheet">
    

    <title>Error 404 (Not Found)</title>
</head>
<body class = "error404">

    <div class = "wrapper">
        <h1 class ="error-title">SORRY, THIS PAGE COULD NOT BE FOUND.</h1>

        <a href = "/">
             <div class = "back-button">GO BACK</div>
        </a>

    </div>
    
</body>
</html>