<!DOCTYPE HTML>
<!--
	Fractal by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title>Login</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=League+Script|Raleway:600" rel="stylesheet">
  
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="shortcut icon" type="image/png" href="/assets/images/logo.png">
</head>

<body class='login'>
  <form action="/login" method="post">
    <div class='wrapper'>
      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
      <% } %>
      <div class="content-wrapper">
      <input type="text" placeholder="Email" name="email" id="email"/>
      <input type="password" placeholder="Password" name="password" id="password"/>
      <a href="/profile">
        <button class="form-btn" type="submit" > Login </button>
      </a>
        <a class="signuplink" href="/signup">Signup</a>
        <a class="forgotlink" href="/password-recovery">Forgot Password</a>
      </div>
    </div>
  </form>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

  <script src="/assets/js/main.js"></script>

</body>

</html>
