<!DOCTYPE HTML>
<!--
	Fractal by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

    <head>
        <meta charset="UTF-8">
        <title>Password Recover</title>
        <link rel="stylesheet" href="assets/css/style.css" class="rel">
        <link href="https://fonts.googleapis.com/css?family=League+Script|Raleway:600" rel="stylesheet">
        
      </head>

<body class='password-recovery-screen'>
  <form action="/password-recovery" method="post">
    <div class='wrapper'>
      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
      <% } %>
      <div class="content-wrapper-recovery">
      <input type="text" placeholder="Email" name="email" id="email-recovery" />

      <button class="form-btn-recovery" type="submit"> Recover </button>
      
        
      <a class="signuplink-recovery" href="/signup">Signup</a>
      <a class="loginlink-recovery" href="/login">Login</a>
        
        
      </div>
    </div>
  </form>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

  <script src="/assets/js/main.js"></script>

</body>

</html>
